<span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon--wide icon-chevron-down">
    <path d="M14.4122 1.01066L14.4122 1.01066L8.00031 7.03025L1.58783 1.01125C1.58783 1.01125 1.58783 1.01125 1.58783 1.01125C1.43065 0.863703 1.17776 0.863704 1.02058 1.01125C0.859806 1.16217 0.859806 1.41014 1.02058 1.56107L7.71639 7.84662L7.71677 7.84698C7.79609 7.92065 7.89877 7.95714 8.00031 7.95714C8.10169 7.95714 8.20473 7.92077 8.28378 7.84592C8.28386 7.84585 8.28393 7.84578 8.284 7.84571L14.9794 1.5605L14.9795 1.56049C15.1402 1.40954 15.1402 1.16159 14.9794 1.01066C14.8222 0.863113 14.5693 0.863114 14.4122 1.01066Z" fill="#979797" stroke="#979797" stroke-width="0.2"/>
  </svg>  
</span>