<div
  data-section-id="{{ section.id }}"
  data-section-type="individual-grid">
  {%- unless section.settings.full_width -%}
    <div class="page-width">
  {%- endunless -%}

  {%- render 'individual-grid', section: section -%}

  {%- if section.blocks.size == 0 -%}
    <div class="page-width text-center">
      <div class="rte">
        <p>
          {{ 'home_page.onboarding.no_content' | t }}
        </p>
      </div>
    </div>
  {%- endif -%}

  {%- unless section.settings.full_width -%}
    </div>
  {%- endunless -%}
</div>

{% schema %}
  {
    "name": "Individual grid",
    "max_blocks": 4,
    "settings": [
      {
        "type": "header",
        "content": "Design"
      },
      {
        "type": "checkbox",
        "id": "boxed",
        "label": "Add box",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "framed",
        "label": "Add frame",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full page width",
        "default": false
      },
      {
        "type": "range",
        "id": "gutter_size",
        "label": "Spacing",
        "default": 20,
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "space_above",
        "label": "Add top spacing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "space_below",
        "label": "Add bottom spacing",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "advanced",
        "name": "Advanced",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Announce your promotion"
          },
          {
            "type": "textarea",
            "id": "textarea",
            "label": "Text",
            "default": "Include the smaller details of your promotion in text below the title."
          },
          {
            "type": "url",
            "id": "url_link",
            "label": "URL Link"
          },
          {
            "type": "text",
            "id": "cta_text1",
            "label": "Button #1 text",
            "default": "Shop This"
          },
          {
            "type": "url",
            "id": "cta_link1",
            "label": "Button #1 link"
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "100",
            "options": [
              {
                "value": "33",
                "label": "33%"
              },
              {
                "value": "50",
                "label": "50%"
              },
              {
                "value": "100",
                "label": "100%"
              }
            ]
          },
          {
            "type": "range",
            "id": "height",
            "label": "Height",
            "default": 500,
            "min": 100,
            "max": 800,
            "step": 20,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "text_size",
            "label": "Text size",
            "default": 120,
            "min": 40,
            "max": 200,
            "step": 5,
            "unit": "%"
          },
          {
            "type": "header",
            "content": "Alignment"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "default": "vertical-center horizontal-center",
            "options": [
              {
                "value": "vertical-top horizontal-left",
                "label": "Top left"
              },
              {
                "value": "vertical-top horizontal-center",
                "label": "Top center"
              },
              {
                "value": "vertical-top horizontal-right",
                "label": "Top right"
              },
              {
                "value": "vertical-center horizontal-left",
                "label": "Center left"
              },
              {
                "value": "vertical-center horizontal-center",
                "label": "Center"
              },
              {
                "value": "vertical-center horizontal-right",
                "label": "Center right"
              },
              {
                "value": "vertical-bottom horizontal-left",
                "label": "Bottom left"
              },
              {
                "value": "vertical-bottom horizontal-center",
                "label": "Bottom center"
              },
              {
                "value": "vertical-bottom horizontal-right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "select",
            "id": "focal_point",
            "label": "Image focal point",
            "default": "center",
            "options": [
              {
                "value": "20% 0",
                "label": "Top left"
              },
              {
                "value": "top",
                "label": "Top center"
              },
              {
                "value": "80% 0",
                "label": "Top right"
              },
              {
                "value": "20% 50%",
                "label": "Center left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "80% 50%",
                "label": "Center right"
              },
              {
                "value": "20% 100%",
                "label": "Bottom left"
              },
              {
                "value": "bottom",
                "label": "Bottom center"
              },
              {
                "value": "80% 100%",
                "label": "Bottom right"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
